.width-space img {
  width: 100%;
}
.width-space {
  width: 100%;
  margin-top: 15px;
}

.width-space-detail {
  text-align: center;
}

.height15 {
  height: 15px;
}

.gray {
  background-color: #ddd;
  height: 1px;
  border: 0;
  /* color: #ddd; */
}

.width-space-detail img {
  width: 100%;
}
.width-01 {
  width: 100%;
  margin-top: 15px;
}

.height-01 {
  height: 50px;
}

.font-content {
  font-weight: 300;
  color: #666;
  font-size: 0.8em;
}

.font-title {
  font-weight: 300;
  color: #444;
  font-size: 1.2em;
  margin-top: 20px;
}

.font-category {
  font-weight: 500;
  font-size: "0.5em";
  color: #9c27b0;
}

.flex01 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flex02 {
  display: flex;
  justify-content: center;
}
