.width-space img {
  width: 100%;
}
.width-space {
  width: 100%;
  margin-top: 15px;
}

.width-space-detail img {
  width: 50%;
}
.width-01 {
  width: 100%;
  margin-top: 15px;
}

.height-01 {
  height: 50px;
}
