code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-bar {
  width: 100%;
  /* margin: 0 auto; */
  padding: 20 10px;
  appearance: none;
  background: none;
  border: none;
  /* border-bottom: 1px solid #ddd; */
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  /* border-radius: 5px; */
}

.locate {
  /* position: absolute; */
  top: 1em;
  right: 50%;
  background: none;
  z-index: 10;

  background-color: #00acc1;
  border: none;
  color: #fff;
  margin: 0 auto;
  width: 46%;
  display: inline-block;
  line-height: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.locate:hover {
  background-color: #00bad2;
}

.locate img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn-hover:hover {
  opacity: 1;
}
.btn-hover {
  width: 50px;
  cursor: pointer;
  opacity: 0.8;
}
.btn01 {
  margin: 13px 20px 0 5px;
  font-weight: 500;
  color: #888;
  cursor: pointer;
}
.btn02 {
  margin-right: 0;
}
.btn01:hover {
  color: rgb(158, 56, 180);
  font-weight: 600;
}
